@use './helpers/index' as *;
@use './vendors/sprites' as *;

.drop-down {
	display: inline-flex;
	position: relative;
	font-size: 14px;

	.top-txt {
		padding: 6px 15px;
		position: relative;
		border: 1px solid #333; /*  */

		&::after {
			content: '';
			position: absolute;
			top: calc(50% - 2px);
			right: 0;

			@include sprite($common-drop-arrow);
		}
	}

	.list {
		display: inline-block;
		padding: 10px 15px;
		position: absolute;
		top: 31px;
		right: 0;
		// border: 1px solid red; /*  */
		box-shadow: 0 2px 2px hsl(0 0% 0% / .15);
		font-weight: 600;

		li {
			display: block;
			width: 100px;
			// padding-top: 10px;
			&:not(:first-child) { padding-top: 10px; }
		}
	}
}