@use './helpers/index' as *;
@use './vendors/sprites' as *;

input.text {
	box-sizing: border-box;
	min-width: 210px;
	height: 40px;
	padding: 0 16px;
	border: 1px solid var(--line-color);
	outline: none;
	font-family: 'SUIT', sans-serif;
	font-size: 14px;
	line-height: 40px;
	color: var(--default-color);

	&::placeholder { color: var(--gray-color3); }

	&:focus {
		border-color: var(--focus-line-color);
		outline: none;
		box-shadow: 0 0 0 1px var(--focus-line-color) inset;
	}

	&:read-only {
		background-color: var(--disabled-color);
		box-shadow: none;

		&:focus { border-color: var(--line-color); }
	}

	&:disabled {
		background-color: var(--disabled-color);
		color: var(--disabled-text-color);
	}




	&.underline {
		border-top: 0;
		border-right: 0;
		border-left: 0;

		&:focus { box-shadow: 0 -1px 0 0 var(--focus-line-color) inset; }

		&:read-only {
			background: transparent;
			box-shadow: none;

			&:focus { border-color: var(--line-color); }
		}

		&:disabled { background: transparent; }
	}
}
