@use './helpers/index' as *;
@use './vendors/sprites' as *;

label.radio {
	display: inline-flex;

	& > input[type='radio'] {
		@include hide();

		&:checked + span::before {
			@include sprite($common-radio-checked);
		}

		&:disabled {
			& + span { color: var(--disabled-text-color); }

			& + span::before {
				@include sprite($common-radio-disabled);
			}

			&:checked + span::before {
				@include sprite($common-radio-disabled-checked);
			}
		}
	}

	& > span {
		box-sizing: border-box;
		display: inline-flex;
		align-items: center;
		padding: 5px 5px 5px 30px;
		position: relative;
		font-size: 16px;


		&::before {
			@include sprite($common-radio);
			content: '';
			position: absolute;
			top: 5px;
			left: 0;
		}
	}
}

.radio.only {
	display: inline-flex;
	width: 20px;
	height: 20px;
	position: relative;

	input[type='radio'] {
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 2;
		opacity: 0;

		&:checked + span {
			@include sprite($common-radio-checked);
		}

		&:disabled {
			& + span {
				@include sprite($common-radio-disabled);
			}

			&:checked + span {
				@include sprite($common-radio-disabled-checked);
			}
		}
	}

	& > span {
		@include sprite($common-radio);
		position: absolute;
		top: 0;
		left: 0;
	}
}