@use './helpers/index' as *;
@use './vendors/sprites' as *;

.textarea {
	box-sizing: border-box;
	padding: 16px;
	background-color: #fff;
	border: 1px solid var(--line-color);
	outline: none;
	color: var(--default-color);
	resize: none;

	&::placeholder { color: var(--disabled-text-color); }

	&:focus {
		border-color: var(--active-color);
		outline: none;
		box-shadow: 0 0 0 1px var(--active-color) inset;
	}

	&:read-only {
		background-color: var(--disabled-color);
		box-shadow: none;

		&:focus { border-color: var(--line-color); }
	}
}