@use './helpers' as *;

:root {
	// bg color
	--default-color: hsl(240 2% 12%);
	--primary-color: hsl(223 60% 38%);
	--secondary-color: hsl(180 86% 43%);
	--disabled-color: hsl(225 15% 95%);
	--error-color: hsl(0 86% 51%);
	--disabled-text-color: hsl(220 9% 73%); //#B4B8C0
	--gray-bg-color: hsl(222 9% 78%); //#C3C6CD
	--gray-color1: hsl(240 2% 48%); //#78787D
	--gray-color2: hsl(210 1% 56%); //#8e8f90
	// line color
	--line-color: hsl(223 14% 90%);
	--active-color: hsl(210 86% 51%);
}