@use './helpers/index' as *;
@use './vendors/sprites' as *;

.tabs {
	.tab-menu > .tab-list {
		.item {
			background-color: #f7f7f7;
			color: var(--gray-color1);

			&:not(:last-child) { border-right: 1px solid #e1e3e8; }


			a { padding: 0 20px; }

			&.is-active {
				background-color: #fff;
				border: 1px solid #e1e3e8;
				color: var(--default-color);

				&::after {
					height: 1px;
					bottom: -1px;
					background-color: #fff;
				}
			}
		}
	}

	.tab-content {
		box-sizing: border-box;
		width: 100%;
		border: 1px solid #e1e3e8;
		border-top: 0;

		.content-list {
			display: flex;
			width: 100%;
			min-height: 100px;
			overflow: hidden;
			position: relative;

			.content {
				box-sizing: border-box;
				display: none;
				flex-shrink: 0;
				width: 0%;
				height: 100%;
				padding: 20px;
				overflow: hidden;
				position: relative;
				z-index: 0;

				&.is-active {
					display: block;
					width: 100%;
					z-index: 1;
				}
			}
		}
	}
}