.table-layout {
	border-top: 1px solid var(--default-color);
	border-bottom: 1px solid var(--default-color);

	table {
		width: 100%;
		font-size: 13px;

		&.center { text-align: center; }

		& > thead > tr,
		& > tbody > tr {
			th {
				height: 36px;
				background: #f6f7f8;
				font-weight: 600;
			}

			th, td {
				box-sizing: border-box;
				padding: 10px;
			}
		}

		& > thead {
			& > tr > th {
				&:not(:last-child) { border-right: 1px dashed hsl(223 13% 90%); }
			}

			& ~ tbody > tr {
				&:not(:last-child) {
					td { border-bottom: 1px solid hsl(223 13% 90%); }
				}
			}
		}


		& > tbody > tr {
			&:not(:last-child) {
				th { border-bottom: 1px dashed hsl(223 13% 90%); }

				td { border-bottom: 1px dashed hsl(223 13% 90%); }
			}

			td {
				&.center { text-align: center; }

				&:not(:last-child) {
					border-right: 1px dashed hsl(223 13% 90%);
				}
			}
		}
	}
}