@use './helpers/index' as *;
@use './vendors/sprites' as *;

.accordion {
	&.small {
		.title a { font-size: 14px; }

		.content { font-size: 12px; }
	}

	.item {
		height: auto;
		border-top: 1px solid var(--line-color);

		&:last-child { border-bottom: 1px solid var(--line-color); }

		&.is-open {
			& > .title::after { transform: rotate(-180deg); }

			& > .content {
				height: auto;
				max-height: 90vh;
				transition: max-height .5s;
			}
		}

		.accordion {
			box-sizing: border-box;
			width: 100%;
		}
	}

	.title {
		display: block;
		position: relative;
		font-weight: 600;

		a {
			box-sizing: border-box;
			display: block;
			padding: 16px 54px 15px 20px;
			position: relative;
			z-index: 1;
			font-size: 18px;
		}

		&::after {
			content: '';
			width: 20px;
			height: 12px;
			position: absolute;
			top: calc(50% - 6px);
			right: 20px;
			z-index: 0;
			background: #fff url('@@img/common/arrow.png') no-repeat 50% 50%;
			transition: .3s;
		}
	}

	.content {
		box-sizing: border-box;
		height: 0;
		max-height: 0;
		overflow: hidden;
		transition: max-height .5s;

		.inner {
			display: inline-block;
			width: 100%;
			padding: 20px 24px;
			overflow-y: scroll;

			.accordion { width: 100%; }
		}
	}
}