@use './helpers/index' as *;
@use './vendors/sprites' as *;

.accordion {
	.item {
		height: auto;
		margin-bottom: 10px;
		border-top: 1px solid var(--line-color);
		border-bottom: 1px solid var(--line-color);

		&:last-child { margin-bottom: 0; }

		&.is-open {
			.title::after { transform: rotate(-180deg); }

			.content {
				height: auto;
				max-height: 100vh;
				overflow-y: scroll;
				transition: max-height .5s;
			}
		}
	}

	.title {
		display: block;
		padding: 16px 54px 15px 20px;
		position: relative;
		font-size: 18px;

		&::after {
			content: '';
			width: 20px;
			height: 12px;
			position: absolute;
			top: calc(50% - 6px);
			right: 20px;
			background: #fff url('@@img/common/arrow.png') no-repeat 50% 50%;
			transition: .3s;
		}
	}

	.content {
		box-sizing: border-box;
		height: 0;
		max-height: 0;
		overflow: hidden;
		background: var(--disabled-color);
		transition: max-height .5s;

		span {
			display: inline-block;
			padding: 20px 24px;
		}
	}
}